=====================================================================
Document {number}: {title}
=====================================================================
- Epic Introduction:
{introduction}

keywords are: {keywords}

- Epic Description
{description}

- Epic Children are in the following sub sections:

{children}

