=====================================================================
Document {number}: {title}
=====================================================================
- Introduction:
This is an json document converted to plain text.

keywords are: {keywords}

- Description
{description}

