=====================================================================
Document {number}: File name {filename}
=====================================================================
- Introduction:
This is a powerpoint document converted from ppt(x) to pdf and then to plain text.

keywords are: {keywords}

- Description
{description}

