=====================================================================
Document {number}: {title}
=====================================================================
- Introduction:
This is properties in plain text.

keywords are: {keywords}

- Description
{description}

