=====================================================================
Document {number}: {title}
=====================================================================
- Spike Introduction:
keywords are: {keywords}

- Spike Description
{description}

