=====================================================================
Document {number}: {title}
=====================================================================
- Introduction:
This is a template document in plain text.

keywords are: {keywords}

- Description
{description}

