=====================================================================
Document {number}: File name {filename}
=====================================================================
- Introduction:
This is an word document converted to plain text.

keywords are: {keywords}

- Description
{description}

