=====================================================================
Document {number}: {title}
=====================================================================
- Introduction:
This is a word document converted to plain text.

keywords are: {keywords}

- Description
{description}

